/*#dropdown-roomlist, #dropdown-roomlisthomestay{
    padding: 10px;
    display: none;
}

.room {
    border-bottom : 1px solid ghostwhite;
}*/

/*#popRooms{
	margin-top: 15px;
    width: 220px;
}
*/
/*#addRoom, #addRoomHomestay{
	margin-top: 25px;
}

#removeRoom, #removeRoomHomestay{
	margin-left: 120px;
    margin-top: -56px;
}*/