div.NCS.parent {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 0.5px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    padding: 10px;
    text-align: center;
    overflow: hidden;
    min-width: 200px;
}

div.NCS.category {
    border-bottom: 0.5px solid #dddddd;
    padding: 10px;
}

div.NCS.room {
    height: 5px;
}

div.NCS.display {
    overflow: hidden;
    background: transparent;
    z-index: 999;
    position: absolute;
    border-radius: 5px;
    padding: 5px 2.5px;
    box-sizing: border-box;
    align-items: center;
}

div.NCS.inlinedisplay {
    height: 100%;
    width: 10000px;
}

div.NCS.displayelement:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.NCS.displayelement {
    display: inline-block;
    background: #3d9bff;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0 2.5px;
    padding: 2.5px 5px;
    box-sizing: border-box;
    line-height: 100%;
    height: 100%;
    border-radius: 2.5px;
}

a.NCS.close {
    opacity: 1;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    text-decoration: underline;
}

div.NCS.name, div.NCS.value {
    font-size: 16px;
    float: left;
}

div.NCS.text {
    clear: both;
    display: inline-block;
}

div.NCS.name, a.NCS.close, div.NCS.value {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #272727;
}

div.NCS.buttons {
    width: 100px;
    margin: 0 auto;
}

a.NCS.button {
    color: white;
    text-decoration: none;
    width: 45%;
    padding: 3px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-weight: 700;
    margin: 2.5%;
    background: #357ebd;
}

a.NCS.button.inactive {
    background: lightgrey;
}




